<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buscar Empleado</title>
    <link rel="stylesheet" th:href="@{/estilos.css}">
</head>
<body>
<header>
    <h1>Formulario de búsqueda</h1>
</header>
<main>
    <div class="contenido-ppal">
        <form th:action="@{/empleados/buscar}" method="POST">
            <label for="campo">Buscar por... </label>
            <select id="campo" name="campo" required>
                <option value="dni">DNI</option>
                <option value="nombre">Nombre</option>
                <option value="sexo">Sexo</option>
                <option value="anyos">Años</option>
                <option value="categoria">Categoría</option>
            </select>
            <label for="valor">Valor:</label>
            <input type="text" id="valor" name="valor" required placeholder="Introduce el valor a buscar"
                   pattern="^[^\s]+(\s+[^\s]+)*$\g"
                   oninvalid="setCustomValidity('Comprueba que no haya espacios al inicio o al final.')"/>
            <input type="submit" value="Buscar"/>
        </form>
        <h3>
            <a th:href="@{/}">Volver</a>
        </h3>
    </div>
</main>
</body>
</html>